<!-- ==============================================
  Home
  =============================================== -->
<section id="home" class="on-menu fullscreen" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 home-main-section" style="overflow-wrap:break-word;text-align: left !important; margin-top: 110px; color: white;">
        <div class="col-xs-4 title-box">
          <div class="featured-img"><img src="/assets/crawl-icon-2.png" alt="Converting data from raw HTML to structured via Crawl &amp; Extraction pipeline" class="lazyload" data-original="/assets/crawl-icon-2.png"> </div>
          <h2 class="section-crawl-title">Site-specific Crawl & Extraction</h2>
          <div>Crawling specific sites of interest and precise extraction for delivery of structured data.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/lan-icon.png" alt="very large-scale Crawls- continuous data feeds provided in near real time using our powerful crawler" class="lazyload" data-original="/assets/lan-icon.png"> 
          </div>
          <h2 class="section-crawl-title">Mass Scale Crawls</h2>
          <div>Tens of thousands of sources crawled for analysis in near real-time.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/cloud-icon.png" alt="Full-text search as a service" class="lazyload" data-original="/assets/cloud-icon.png"> </div>
          <h2 class="section-crawl-title">Hosted Indexing </h2>
          <div>Indexing big data to make it searchable.</div>
        </div>
      </div>
      <div class="col-xs-12  home-main-section" style="color: #333;overflow-wrap:break-word;text-align: left;">
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For business</h2>
          <div>I can’t code but want a cost effective way to extract data from websites and PDFs.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For developers</h2>
          <div>I am a developer and want a place to write and run code to extract, clean and explore data.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For corporates</h2>
          <div>I’m a business and need professional data extraction, analysis and management.</div>
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Home Section -->

<!-- ==============================================
About
=============================================== -->
<section id="about" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">Discover everything</h2>
        <h1 class="section-title" style="margin-bottom: 0px;">About Us</h1>
        <div class="section-icon">
          <i class="fa fa-bullhorn fa-spin" style="padding: 50px;border-radius: 50%; font-size: 3em"></i>
        </div>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
    <div class="row about-product">
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span >
            <a href="<%= about_scrapegenie_path %>#about_us_financial_services">
              <span class="hi-icon-about">
                <i class="fa fa-money"></i>
              </span>
              <h4>Financial Services</h4>
            </a>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span >
            <a href="<%= about_scrapegenie_path %>#about_us_marketers">
              <span class="hi-icon-about">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <h4>Marketers</h4>
            </a>
          </span>          
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6  one">
          <span>
            <a href="<%= about_scrapegenie_path %>#about_us_online_aggregators">            
              <span class="hi-icon-about">
                <i class="fa fa-code-fork"></i>
              </span>
              <h4>Online Aggregators</h4>
            </a>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span >
            <a href="<%= about_scrapegenie_path %>#about_us_researchers">  
              <span class="hi-icon-about">
                <i class="fa fa-flask"></i>
              </span>
              <h4>Researchers</h4>
            </a>
          </span> 
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span>
            <a href="<%= about_scrapegenie_path %>#about_us_reputation_management">  
              <span class="hi-icon-about">
                <i class="fa fa-user-md"></i>
              </span>
              <h4>Reputation Management Profesionals</h4>
            </a>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span>
            <a href="<%= about_scrapegenie_path %>#about_us_government_compliance">  
              <span class="hi-icon-about">
                <i class="fa fa-group"></i>
              </span>
              <h4>Government Compliance</h4>
            </a>
          </span>          
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span >
            <a href="<%= about_scrapegenie_path %>#about_us_search_engine">  
              <span class="hi-icon-about">
                <i class="fa fa-search-plus"></i>
              </span>
              <h4>Search Engine Optimization Profesionals</h4>
            </a>
          </span>     
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End About Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->

<!-- ==============================================
Services
=============================================== -->
<section id="services" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">We offer</h2>
        <h1 class="section-title" style="margin-bottom: 0px;">Services</h1>
        <div class="section-icon">
          <i class="fa fa-wrench fa-spin" style="padding: 50px;border-radius: 50%; font-size: 3em"></i>
        </div>
        <div class="row services-list">
          <div class="col-md-3 text-center service animated" data-animation="flipInY">
            <span class="hi-icon fa fa-3x fa-archive"></span>
            <h4>Extraction</h4>
            <p>ScrapeGenie is a reliable & efficient way to harvest content from anywhere it exists online.  to power search verticals, populate reports or trigger alerts according to your unique specifications...<br/> 
              <a href="<%= services_path %>#service_extraction">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="200">
            <span class="hi-icon fa fa-3x fa-list"></span>
            <h4>Structuring</h4>
            <p>Different web sites have different ways of depicting information. Depending upon the sources that you wish to gather data from, various degrees of “structuring” may be required before the data will...<br/>
              <a href="<%= services_path %>#service_structuring">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="400">
            <span class="hi-icon fa fa-3x fa-gears"></span>
            <h4>Easy to Customize</h4>
            <p>Information Made Actionable<br/>
              Once the data has been collected and “structured” it can be normalized to fit within the existing framework of your site, application, dashboard, report or alerting system...<br/>
              <a href="<%= services_path %>#service_customize">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="600">
            <span class="hi-icon fa fa-3x fa-code"></span>
            <h4>Programming</h4>
            <p>Have a Bright Idea?<br/>
              When you need a little help we can lend a hand. Our team of senior-level developers brings a broad range of diversified skills and has several years of experience architecting and deploying enterprise level projects...<br/>
              <a href="<%= services_path %>#service_programing">(Read More)</a>
            </p>
          </div>
        </div> <!-- End Services List -->
      </div> <!-- End Column 12 -->					
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Services Section -->

<!-- ==============================================
Call to Action
<!-- ==============================================
Portfolio
=============================================== -->
<section id="portfolio" class="on-menu">
  <div class="top-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-pre-title">Projects</h2>
          <h1 class="section-title">Portfolio</h1>
          <div class="section-icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <nav class="portfolio-filter">
            <ul>
              <li><a href="#" class="button active" data-filter="*">all</a></li>
              <li><a href="#" class="button" data-filter=".web-design">web design</a></li>
              <li><a href="#" class="button" data-filter=".photography">photography</a></li>
              <li><a href="#" class="button" data-filter=".brands">brands</a></li>
              <li><a href="#" class="button" data-filter=".video">video</a></li>
            </ul>
          </nav>
        </div> <!-- End Column 12 -->
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </div> <!-- End Top Portfolio -->
  <div class="extended-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="project-close">
            <a href="#loader"></a> 
          </div>
          <div class="project-navigation">
            <div class="project-prev">
              <a href="#"></a>
            </div>
            <div class="project-next">
              <a href="#"></a>
            </div>
          </div>
          <div class="project-loader"></div>
          <div class="project-content"></div>
        </div> <!-- End Column 12 -->
      </div>  <!-- End Row -->
    </div> <!-- End Container -->	
  </div> <!-- End Extended Portfolio -->
  <div class="portfolio-container">
    <div class="portfolio isotope" style="position: relative; overflow: hidden; height: 616px;">
      <div class="portfolio-item web-design photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 0px); width: 270px;">
        <a href="#?projects/project-1.html">
          <div class="image-container">
            <img src="/assets/project-1.jpg" alt="" class="img-responsive">
          </div>
          <h4>Double B Coffee</h4>
          <p class="portfolio-categories">web design - photography</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 0px); width: 270px;">
        <a href="#?projects/project-2.html">
          <div class="image-container">
            <img src="/assets/project-2.jpg" alt="" class="img-responsive">
          </div>
          <h4>Heroes and Villains</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
      <div class="portfolio-item photography video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 0px); width: 270px;">
        <a href="#?projects/project-3.html">
          <div class="image-container">
            <img src="/assets/project-3.jpg" alt="" class="img-responsive">
          </div>
          <h4>College of Design</h4>
          <p class="portfolio-categories">photography - video</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 0px); width: 270px;">
        <a href="#?projects/project-4.html">
          <div class="image-container">
            <img src="/assets/project-4.jpg" alt="" class="img-responsive">
          </div>
          <h4>Bama Storkjoekken</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 0px); width: 270px;">
        <a href="#?projects/project-5.html">
          <div class="image-container">
            <img src="/assets/project-5.jpg" alt="" class="img-responsive">
          </div>
          <h4>Regular Events Matrix</h4>
          <p class="portfolio-categories">video</p>
        </a>
      </div>
      <div class="portfolio-item video brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 308px); width: 270px;">
        <a href="#?projects/project-6.html">
          <div class="image-container">
            <img src="/assets/project-6.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mayu</h4>
          <p class="portfolio-categories">video - brands</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 308px); width: 270px;">
        <a href="#?projects/project-7.html">
          <div class="image-container">
            <img src="/assets/project-7.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mechanics Infographics</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 308px); width: 270px;">
        <a href="#?projects/project-8.html">
          <div class="image-container">
            <img src="/assets/project-8.jpg" alt="" class="img-responsive">
          </div>
          <h4>Chocolates</h4>
          <p class="portfolio-categories">photography</p>
        </a>
      </div>
      <div class="portfolio-item web-design video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 308px); width: 270px;">
        <a href="#?projects/project-9.html">
          <div class="image-container">
            <img src="/assets/project-9.jpg" alt="" class="img-responsive">
          </div>
          <h4>Next Gen Console War</h4>
          <p class="portfolio-categories">web design - video</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 308px); width: 270px;">
        <a href="#?projects/project-10.html">
          <div class="image-container">
            <img src="/assets/project-10.jpg" alt="" class="img-responsive">
          </div>
          <h4>Nature Dreamy</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
    </div> <!-- End Portfolio -->
  </div> <!-- End Portfolio Container -->
</section> <!-- End Portfolio Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>BRIDGING THE GAP BETWEEN GREAT CODE AND DESIGN</h3>
        <div class="section-icon">
          <i class="fa fa-video-camera"></i>
        </div> <!-- End Column 12 -->
        <iframe id="player" type="text/html" style="height: 6 00px; width: 100%"
  src="https://www.youtube.com/embed/Oo0gGI4U-nQ?enablejsapi=1&origin=http%3A%2F%2Flocalhost%3A3000"
  frameborder="0"></iframe>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Call to Action -->